#root {
  background-color: rgb(221, 227, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #f4f6fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  border-radius: 2em;
  height: 70%;
}

header {
  color: rgb(55, 59, 93);
  font-size: 4em;
  text-align: center;
}

input {
  width: 200px;
  padding: 1em;
}

.todo-list {
  list-style: none;
  margin: 0;
}

.completed {
  text-decoration: line-through;
}

.todo-item span {
  margin: 0 1rem;
}
